body {

    background-color: #000000;
    color: #ece5e5;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}




.detalle-container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.info-pelicula {
    background: #000000;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    color: #ffffff;

}

.info-pelicula img {
    max-width: 300px;
    border-radius: 6px;
    margin-bottom: 15px;
}

#calificaciones {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20%;
    font-size: 25px;
}

#contenidoPeli {
    padding: 0;
    margin: 0;
    gap: 0;
}

#contenidoPeli p {
    padding: 10px;
    margin: 0;
    gap: 0;
    font-size: 30px;
}

#contenidoPeli h1 {
    padding: 5px;
    margin: 0;
    gap: 0;
    font-size: 50px;
}

.secciones {
    color: red;
}

.detalle-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.detalle-reseñas {
    background: rgb(0, 0, 0);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    max-height: 400px;
    overflow-y: auto;
    color: #ffffff;

}

#contadorLikes {
    display: flex;
}

#btnLike,
#btnDislike {
    background: #000000;
    border: 2px solid #000000;
    border-radius: 1px;
    color: white;
    display: flex;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px;
    transition-duration: 0.4s;
    margin-top: 10px;
    background-color: #000000;
}

#btnLike img,
#btnDislike img {
    height: 80px;
}

#btnLike h2 {
    font-size: 70px;
    color: rgb(0, 255, 42);
    margin: 0;
    padding: 0;
    text-align: center;
}

#btnDislike h2 {
    font-size: 70px;
    color: rgb(235, 0, 0);
    margin: 0;
    padding: 0;
    text-align: center;
}

#contadorLikes button {
    color: rgb(228, 210, 210);
    font-size: 20px;
    background-color: #000000;
    border: none;
    cursor: pointer;
    padding: 12px 12px;
    margin: 20px 3px;
    transition-duration: 0.4s;
}

#contadorLikes span {
    color: white;
    background-color: #e2d3d3;
    cursor: pointer;
    padding: 0;
    margin: 20px 3px
}

.reseña-card {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.reseña-card:last-child {
    border-bottom: none;
}

.detalle-form {
    background: rgb(0, 0, 0);
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 3px;
}

.detalle-form h3 {
    margin: 0;
    font-size: 60px;
}

.detalle-form strong {
    margin: 0;
    color: red;
    font-size: 60px;
}

.detalle-form p {
    font-size: 40px;
}

.calificacion {
    font-size: 70px;
}

.detalle-form textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 3px;
    border-radius: 6px;
    border: 1px solid #ccc;
    resize: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

.detalle-form select,
.detalle-form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 3px;
    border-radius: 6px;
    border: 1px solid #111111;
    font-size: 16px;
    background: #ffffff;
    color: #000000;
    font-weight: bold;
}

.detalle-form button {
    background: #ff0000;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 56px;
    ;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #000000;
    padding: 3px;

}

.detalle-form button:hover {
    background: #ff0000;
    color: #fff;
    border: 2px solid #000000;
}

#btnVolver {
    display: block;
    margin: 10px auto;
    padding: 10px 10px;
    background: #fcfcfc;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #000000;
    border-radius: 56px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#eliminarReseña #btnVolver:hover {
    background: #000000;
}

.reseña-card {
    border: 2px solid #444;
    padding: 10px;
    margin-bottom: 10px;
    background: #000;
    color: white;
}

.reseña-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reseña-header h2 {
    margin: 0;
    font-size: 1em;
}

.reseña-card p {
    margin: 8px 0;
    width: 100%;
}

.reseña-footer {
    text-align: left;
}

.reseña-footer small {
    font-size: 0.8em;
    color: #bbb;
}