input[type="text"],
input[type="email"],
input[type="password"] {
    width: 50%;
    padding: 12px 20px 10px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 100px;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-image: url('/pruebaaaa/imagenes/peliculas.png');
}
